@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap");
.hero, .pagination span, .page-header {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.hero-section, .logo, .pagination, .title, .comics-wrapper article div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-container {
  margin: 4rem;
  text-align: center;
}

.btn {
  display: inline-block;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #e76161;
  color: white;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
}

.btn:hover {
  background-color: #ca4242;
}

.transparent-btn {
  display: inline-block;
  padding: 1rem;
  border-radius: 0.25rem;
  background-color: #ed1d2459;
  color: white;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.transparent-btn:hover {
  background-color: #ed1d24;
}

.border-btn {
  display: inline-block;
  padding: 0.75rem 1rem;
  border: 2px solid #449dd4;
  border-radius: 0.25rem;
  background-color: inherit;
  color: white;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.border-btn:hover {
  background-color: #449dd4;
}

.border-btn.red {
  border-color: #ed1d24;
}

.border-btn.red:hover {
  background-color: #ed1d24;
}

.hero {
  position: relative;
  height: 100vh;
}

.hero-slider {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 2s linear;
  transition: all 2s linear;
}

.slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slide.active {
  opacity: 1;
  visibility: visible;
}

.slide.animation {
  -webkit-animation: scaling 20s linear 0s infinite alternate;
          animation: scaling 20s linear 0s infinite alternate;
}

@-webkit-keyframes scaling {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes scaling {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

.substrate {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.hero-section {
  width: 90vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  row-gap: 1rem;
  z-index: 10;
}

.hero-section a {
  padding: 1rem 2rem;
}

.logo {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  row-gap: 1rem;
  color: white;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.logo img {
  width: 10rem;
}

.search-form {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 4rem auto;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.search-form.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.search-form input {
  border: none;
  width: 100%;
  height: 2.5rem;
  padding: 0 1rem;
  border-radius: 0.5rem 0 0 0.5rem;
  color: #131212;
  font-size: 1rem;
  -webkit-transition: inherit;
  transition: inherit;
}

.search-form input:focus {
  outline: none;
  background-color: #e1c634;
}

.search-form input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.search-form input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.search-form input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.search-form input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.search-form button {
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding: 0 1rem;
  border: none;
  border-radius: 0 0.5rem 0.5rem 0;
  background-color: #e76161;
  color: white;
  font-size: 1.4rem;
  cursor: pointer;
  -webkit-transition: inherit;
  transition: inherit;
}

.search-form button:hover {
  background-color: #ca4242;
}

.search-result {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.search-result article:nth-child(even) a {
  background-color: #449dd4;
}

.search-result article:nth-child(even) a:hover {
  background-color: #1574af;
}

.search-result article:nth-child(even) img {
  border-color: #449dd4;
}

.search-result article h3 {
  margin-bottom: 1rem;
  line-height: 1.25;
}

.search-result article p {
  margin-bottom: 1rem;
  font-size: 1rem;
}

.pagination {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
  row-gap: 1rem;
}

.pagination.active {
  margin-top: 4rem;
}

.pagination span {
  width: 2rem;
  height: 2rem;
  border-radius: 0.25rem;
  background-color: #e76161;
  cursor: pointer;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.pagination span.active {
  background-color: #ca4242;
  cursor: default;
}

.pagination span:hover {
  background-color: #ca4242;
}

.pagination button {
  border: none;
  background-color: inherit;
  color: #e76161;
  font-size: 1.2rem;
  line-height: 1;
  cursor: pointer;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.pagination button:hover {
  color: #ca4242;
}

@media screen and (max-width: 1024px) {
  .search-result {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .search-form {
    width: 100%;
  }
  .search-result article {
    grid-gap: 1rem;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#3A6073), to(#16222A));
  background: linear-gradient(#3A6073 0%, #16222A 100%);
  color: white;
  line-height: 1;
}

a {
  text-decoration: none;
}

.section {
  max-width: 1200px;
  width: 90vw;
  margin: 4rem auto;
}

.title {
  margin-bottom: 4rem;
  letter-spacing: 0.1rem;
  text-transform: capitalize;
}

.title h2 {
  font-size: 2.5rem;
}

.title h3 {
  font-size: 2rem;
}

.title span {
  width: 1.5rem;
  height: 1.5rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-left: 0.25rem;
  border-radius: 50%;
  background-color: #e76161;
  color: white;
  line-height: 1.6;
  text-align: center;
}

.message {
  text-align: center;
  font-style: italic;
}

.page-header {
  height: 40vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../images/slide-1.jpg") no-repeat center/cover;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/slide-1.jpg") no-repeat center/cover;
}

.character {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.character h3 {
  margin-bottom: 1.5rem;
  font-size: 1.4rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
}

.character h4 {
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
}

.character h4 span {
  color: #e1c634;
}

.character p {
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  font-style: italic;
  line-height: 1.5;
}

.character img {
  width: 100%;
  height: auto;
  display: block;
  border: 2px solid #e76161;
  border-radius: 0.5rem;
}

@media screen and (max-width: 768px) {
  .character {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

.comics-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}

.comics-wrapper article {
  -ms-flex-item-align: start;
      align-self: flex-start;
  position: relative;
}

.comics-wrapper article img {
  width: 100%;
  height: auto;
  display: block;
  border: 2px solid #ed1d24;
  border-radius: 0.25rem;
}

.comics-wrapper article div {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 0.5rem;
  border-radius: 0.25rem;
  overflow: hidden;
  background-color: #ed1d24bd;
  text-align: center;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.comics-wrapper article div h4 {
  margin-bottom: 1rem;
  opacity: 0;
  line-height: 1.25;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  -webkit-transition: inherit;
  transition: inherit;
}

.comics-wrapper article div a {
  display: inline-block;
  padding: 0.5rem;
  border: 1px solid white;
  border-radius: 0.25rem;
  color: white;
  opacity: 0;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  -webkit-transition: inherit;
  transition: inherit;
}

.comics-wrapper article div a:hover {
  background-color: white;
  color: #ed1d24;
}

.comics-wrapper article:hover div {
  height: 100%;
}

.comics-wrapper article:hover div h4 {
  opacity: 1;
}

.comics-wrapper article:hover div a {
  opacity: 1;
}

.comics-wrapper article:nth-child(even) img {
  border: 2px solid #449dd4;
}

.comics-wrapper article:nth-child(even) div {
  background-color: rgba(68, 157, 212, 0.76);
}

.comics-wrapper article:nth-child(even) div a:hover {
  color: #449dd4;
}

@media screen and (max-width: 1024px) {
  .comics-wrapper {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .comics-wrapper {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .comics-wrapper {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}
