.accordion > li {
    margin-bottom: 0.5rem;
    padding: 1rem;
    border-radius: $radius;
    background-color: $blue;
    cursor: pointer;
    transition: $instant-trans;
    & > div:first-child {
        @extend %flex-between;
        column-gap: 0.5rem;
        p {
            font-size: 1.2rem;
            line-height: 1.2;
            @include for-size(small) {
                font-size: 1.1rem;
            }
        }
        i {
            font-size: 1.2rem;
            transition: $ease-trans;
            @include for-size(small) {
                font-size: 1rem;
            }
        }
    }
    & > div:last-child {
        height: 0;
        overflow: hidden;
        transition: $ease-trans;
    }
    article {
        padding-top: 0.75rem;
        opacity: 0;
        transition: $ease-in-out-trans;
        p:not(:last-child) {
            margin-bottom: 0.5rem;
        }
    }
    &.active {
        background-color: $red-2;
        & > div:first-child {
            i {
                transform: rotate(180deg);
            }
        }
        article {
            opacity: 1;
        }
    }
}