.btn-container {
    @extend %flex-center;
    column-gap: 2rem;
    margin: 4rem 0;
}

.btn {
    display: inline-block;
    padding: 0.5rem;
    border-radius: $radius-2;
    background-color: $red;
    color: $white;
    transition: $ease-trans;
    text-transform: capitalize;
    letter-spacing: $space;
    &:hover {
        background-color: $red-2;
    }
}

.transparent-btn {
    display: inline-block;
    padding: 1rem;
    border-radius: $radius;
    background-color: #ed1d2459;
    color: $white;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: $space;
    transition: $ease-trans;
    &:hover {
        background-color: $red-3;
    }
    &.yellow {
        background-color: #bda41679;
        &:hover {
            background-color: $yellow-2;
        }
    }
}

.border-btn {
    display: inline-block;
    padding: 0.75rem 1rem;
    border: 2px solid $blue;
    border-radius: $radius;
    background-color: inherit;
    color: $white;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: $space;
    transition: $ease-trans;
    &:hover {
        background-color: $blue;
    }
    &.red {
        @include set-border-color($red-3);
    }
    &.yellow {
        @include set-border-color($yellow-2);
    }
}