.carousel-wrapper {
    position: relative;
    touch-action: none;
    & > div:first-child {
        overflow: hidden;
    }
}

.carousel {
    display: flex;
    align-items: center;
    transition: $ease-trans;
    user-select: none;
}

.carousel .slide {
    flex: 0 0 (100%/3);
    padding: 0 0.5rem;
    img {
        width: 100%;
        height: auto;
        display: block;
        border: 2px solid $red-3;
        border-bottom: none;
        border-radius: $radius $radius 0 0;
    }
    footer {
        padding: 0.5rem;
        border-radius: 0 0 $radius $radius;
        text-align: center;
        background-color: $red-3;
        h4 {
            margin-bottom: 0.5rem;
            line-height: 1.2;
            text-transform: capitalize;
            letter-spacing: $space;
            & ~ a {
                padding: 0.5rem;
                border-radius: $radius; 
                background-color: $red-4;
            }
        }
        a {
            display: inline-block;
            color: $white;
            text-transform: uppercase;
            letter-spacing: $space;
            transition: $ease-trans;
            &:hover {
                color: $yellow;
            }
        }
    }
    &:nth-child(odd) {
        img {
            border-color: $blue;
        }
        footer {
            background-color: $blue;
            h4 ~ a{
                background-color: $blue-2;
            }
        } 
    }
}

.carousel-squares {
    @extend %flex-center;
    column-gap: 0.5rem;
    margin-top: 1rem;
    span {
        flex: 0 0 0.75rem;
        height: 0.75rem;
        background-color: #ed1d2459;
        cursor: pointer;
        &.active {
            background-color: $red-3;
        }
    }
    &.blue {
        span {
            background-color: rgba(68, 157, 212, 0.219);
            &.active {
                background-color: $blue-2;
            }
        }
    }
    &.yellow {
        span {
            background-color: #bda4164d;
            &.active {
                background-color: $yellow;
            }
        }
    }
}

.carousel-controls {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    @extend %flex-between;
    pointer-events: none;
    button {
        width: 2.5rem;
        height: 2.5rem;
        @extend %grid-center;
        margin: 0 -0.5rem;
        border: none;
        border-radius: 50%;
        background-color: $red-2;
        color: $white;
        font-size: 2rem;
        transition: $ease-trans;
        pointer-events: initial;
        &:hover {
            background-color: $red-3;
        }
    }
}

@media screen and (max-width: 768px) {
    .carousel .slide {
        flex: 0 0 50%;
        padding: 0 0.5rem;
    }
    .carousel-controls {
        button {
            width: 2rem;
            height: 2rem;
            margin: 0 -0.25rem;
            font-size: 1.5rem;
        }
    }
}

@media screen and (max-width: 425px) {
    .carousel .slide {
        flex: 0 0 100%;
        padding: 0 1rem;
    }
    .carousel-controls {
        button {
            margin: 0;
        }
    }
}