.characters-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    @include for-size(large) {
        grid-template-columns: repeat(1, 1fr);
    }
    .article {
        @include for-size(medium) {
            grid-gap: 1rem;
        }
        &:nth-child(even) {
            a {
                background-color: $blue;
                &:hover {
                    background-color: $blue-2;
                }
            }
            img {
                border-color: $blue;
            }
        }
        h4 {
            margin-bottom: 0.75rem;
            line-height: 1.25;
        }
        p {
            margin-bottom: 1rem;
            font-size: 1rem;
        }
    }
}

.article {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    @include for-size(medium) {
        grid-template-columns: repeat(1, 1fr);
    }
    h4 {
        margin-bottom: 1.5rem;
        font-size: 1.2rem;
        span {
            color: $yellow;
        }
    }
    p {
        margin-bottom: 1.5rem;
        font-size: 1.2rem;
        font-style: italic;
        line-height: 1.5;
    }
    ul {
        display: flex;
        flex-flow: row wrap;
        column-gap: 0.5rem;
        row-gap: 0.5rem;
        margin-bottom: 1.5rem;
        li {
            flex-shrink: 0;
        }
        a {
            border-radius: $radius;
            letter-spacing: unset;
        }
        p {
            margin-bottom: 0;
        }
    }
    img {
        width: 100%;
        height: auto;
        border: 2px solid $red;
        border-radius: $radius-2;
    }
    &.comic {
        img {
            border-color: $red-3;
            border-radius: $radius;
        }
    }
}