$primary-clr: #3A6073;
$primary-clr-2: #16222A;
$black: rgb(28, 28, 28);
$white: rgb(255, 255, 255);
$red: rgb(231, 97, 97);
$red-2: rgb(202, 66, 66);
$red-3: #ed1d24;
$red-4: #b1181d;
$blue: rgb(68, 157, 212);
$blue-2: rgb(21, 116, 175);
$yellow: #e1c634;
$yellow-2: #bda416;
$radius: 0.25rem;
$radius-2: 0.5rem;
$space: 0.1rem;
$shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
$ease-trans: all 0.4s ease;
$ease-in-out-trans: all 0.3s ease-in-out;
$linear-trans: all 2s linear;

%grid-center {
    display: grid;
    place-items: center;
}

%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

%flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

%hide-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
        display: none;
    }
}

@mixin set-border-color ($color) {
    border: 2px solid $color;
    &:hover {
        background-color: $color;
    }
}