.form-input {
    border: none;
    height: 2.5rem;
    padding: 0 1rem;
    border-radius: $radius-2;
    color: $black;
    font-size: 1rem;
    transition: $ease-trans;
    &:focus {
        outline: none;
        background-color: $yellow;
    }
    &::placeholder {
        color: rgba(0, 0, 0, 0.5);
    }
}

select.form-input {
    padding: 0 0.5rem;
    text-transform: capitalize;
    cursor: pointer;
}

.form-checkbox-wrapper {
    input {
        display: none;
        &:checked ~ label::after {
            transform: translateX(-50%) scale(1);
        }
    }
    label {
        position: relative;
        display: flex;
        align-items: center;
        column-gap: 1rem;
        cursor: pointer;
        &::before {
            content: '';
            width: 1.5rem;
            height: 1.5rem;
            background-color: $white;
        }
        &::after {
            content: '';
            position: absolute;
            left: 0.75rem;
            transform: translateX(-50%) scale(0);
            width: 1.25rem;
            height: 1.25rem;
            background-color: $red-2;
            transition: $ease-trans;
        }
    }
}

.search-form {
    width: 80%;
    display: flex;
    margin: 0 auto;
    transition: $ease-trans;
    input {
        width: 100%;
        border-radius: $radius-2 0 0 $radius-2;
    }
    button {
        display: grid;
        place-items: center;
        padding: 0 1rem;
        border: none;
        border-radius: 0 $radius-2 $radius-2 0;
        background-color: $red;
        color: $white;
        font-size: 1.4rem;
        cursor: pointer;
        transition: inherit;
        &:hover {
            background-color: $red-2;
        }
    }
}

.filters-form {
    display: none;
    margin: 4rem 0;
    &.active {
        display: block;
    }
    div {
        margin-bottom: 1rem;
        &:nth-child(4) {
            margin: 1.5rem 0;
            label {
                margin-bottom: 0;
            }
        }
    }
    label {
        margin-bottom: 1rem;
        letter-spacing: $space;
    }
    input {
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    .search-form {
        width: 100%;
    }
}