.hero {
    position: relative;
    height: 100vh;
    @extend %grid-center;
    .navbar {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background: transparent;
        z-index: 100;
        button {
            z-index: 101;
        }
        ul {
            @include for-size(medium) {
                top: 0;
            }
        }
    }
}

.hero-slider {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.hero-slider .slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: $linear-trans;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &.active {
        opacity: 1;
        visibility: visible;
    }
    &.animation {
        animation: scaling 15s linear 0s infinite alternate;
    }
}

@keyframes scaling {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }
}

.substrate {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $transp-black-2;
}

.hero-section {
    width: 90vw;
    text-align: center;
    z-index: 10;
    a {
        margin-top: 1rem;
        padding: 1rem 2rem;
    }
}