.page-header {
    position: relative;
    height: 45vh;
    @extend %grid-center;
    overflow: hidden;
    background: linear-gradient($transp-black-2, $transp-black-2), url('../images/slide-1.jpg') no-repeat center/cover;
    @include for-size(small) {
        height: 55vh;
    }
}

.stages {
    position: absolute;
    top: 0;
    .section {
        display: flex;
        column-gap: 1rem;
        margin: 0 auto;
        overflow-x: scroll;
        @extend %hide-scrollbar;
        @include for-size(small) {
            width: 100vw;
        }
    }
    a {
        position: relative;
        height: 2rem;
        flex-shrink: 0;
        display: inline-block;
        padding: 0 0.5rem;
        background-color: $transp-red;
        line-height: 2rem;
        transition: $ease-trans;
        @include for-size(small) {
            letter-spacing: unset;
        }
        &:first-child {
            border-radius: $radius 0 0 $radius;
        }
        &:last-child {
            pointer-events: none;
        }
        &:hover, &:last-child {
            background-color: $red-3;
            &::after {
                border-left-color: $red-3;
            }
            &:not(:first-child)::before {
                border-top-color: $red-3;
                border-bottom-color: $red-3;
            }
        }
        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: -0.75rem;
            border-top: 1rem solid transparent;
            border-bottom: 1rem solid transparent;
            border-left: 0.75rem solid $transp-red;
            transition: inherit;
        }
        &:not(:first-child)::before {
            content: '';
            position: absolute;
            top: 0;
            left: -0.75rem;
            border-top: 1rem solid $transp-red;
            border-bottom: 1rem solid $transp-red;
            border-left: 0.75rem solid transparent;
            transition: inherit;
        }
    }
}