.page-footer {
    border-top: 0.5rem solid $red-4;
    .section > div:first-child {
        @extend %flex-center;
        column-gap: 4rem;
        @include for-size(medium) {
            flex-direction: column;
            row-gap: 2rem;
        }
    }
    p {
        text-align: center;
        font-size: 1.2rem;
        font-style: italic;
        line-height: 1.5;
        letter-spacing: $space;
        @include for-size(medium) {
            font-size: 1rem;
        }
        @include for-size(small) {
            letter-spacing: unset;
        }
        a {
            color: $yellow;
            text-transform: uppercase;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.footer-menu {
    display: flex;
    flex-flow: column wrap;
    row-gap:0.25rem;
    @include for-size(medium) {
        flex-flow: row wrap;
        justify-content: center;
        column-gap: 0.25rem;
    }
    li {
        flex-shrink: 0;
        &:last-child {
            position: relative;
            span {
                position: absolute;
                top: -0.25rem;
                right: -0.75rem;
            }
         }
        &:nth-child(even) a:hover {
            background-color: $blue-2;
        }
    }
    a {
        display: inline-block;
        padding: 0.5rem;
        border-radius: $radius;
        text-transform: uppercase;
        @include for-size(small) {
            letter-spacing: unset;
        }
        &:hover {
            background-color: $red-3;
        }
    }
}

.underline {
    width: 12rem;
    height: 0.25rem;
    margin: 2rem auto;
    background-color: $blue-2;
}