.pagination {
    display: none;
    margin-top: 4rem;
    &.active {
        @extend %flex-center;
        flex-flow: row wrap;
        column-gap: 1rem;
        row-gap: 1rem;
    }
    span {
        width: 2rem;
        height: 2rem;
        @extend %grid-center;
        border-radius: $radius;
        background-color: $red;
        cursor: pointer;
        transition: $ease-trans;
        &.active {
            background-color: $red-2;
            cursor: default;
        }
        &:hover {
            background-color: $red-2;
        }
    }
    button {
        border: none;
        background-color: inherit;
        color: $red;
        font-size: 1.2rem;
        line-height: 1;
        cursor: pointer;
        transition: $ease-trans;
        &:hover {
            color: $red-2;
        }
    }
}