.loading {
    @extend %loader;
    background: $transp-black;
    div {
        width: 3.5rem;
        height: 3.5rem;
        @extend %grid-center;
        border-radius: $radius;
        background-color: $white;
        box-shadow: $shadow;
        span {
            width: 2rem;
            height: 2rem;
            display: block;
            border: 0.25rem solid $red;
            border-right-color: transparent;
            border-radius: 50%;
            animation: circling 0.6s linear 0s infinite;
        }
    }
}

.preloader {
    @extend %loader;
    span:first-child {
        position: relative;
        width: 6rem;
        height: 6rem;
        @extend %grid-center;
        border: 0.1rem solid $yellow;
        border-radius: 50%;
        background: transparent;
        animation: circling 1.5s linear 0s infinite;
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            transform: translate(50%);
            width: 1rem;
            height: 1rem;
            border-radius: 50%;
            background: $blue;
        }
        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            right: 0;
            transform: translate(-50%);
            width: 1rem;
            height: 1rem;
            border-radius: 50%;
            background: $red-3;
        }
    }
    span:last-child {
        position: absolute;
        color: $white;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 1.2rem;
        text-transform: capitalize;
    }
}

@keyframes circling {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}