@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import 'config';
@import 'preloader';
@import 'navbar';
@import 'hero';
@import 'buttons';
@import 'forms';
@import 'accordion';
@import 'carousel';
@import 'characters';
@import 'comics';
@import 'pagination';
@import 'page-header';
@import 'page-footer';

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    font-family: 'Poppins', sans-serif;
    &::selection {
        background-color: $blue-2;
        color: $white;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    background: linear-gradient($primary-clr 0%, $primary-clr-3 100%);
    color: $white;
    line-height: 1;
}

h1, h2, h3, h4 {
    text-transform: capitalize;
    letter-spacing: $space;
}

p {
    line-height: 1.5;
}

li {
    list-style-type: none;
}

a {
    color: $white;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: $space;
}

label {
    display: block;
}

img {
    display: block;
}

button {
    line-height: 1;
    cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='number'] {
    -moz-appearance: textfield;
}

.section {
    max-width: 1200px;
    width: 90vw;
    margin: 0 auto;
    &.main {
        min-height: 50vh;
    }
}

section.section {
    margin: 4rem auto;
}

.title {
    @extend %flex-center;
    margin-bottom: 4rem;
    text-align: center;
    h2 {
        font-size: 2.5rem;
        @include for-size(small) {
            font-size: 2rem;
        }
    }
    h3 {
        font-size: 2rem;
        line-height: 1.2;
        @include for-size(medium) {
            font-size: 1.8rem;
        }
        @include for-size(small) {
            font-size: 1.5rem;
        }
    }
    span {
        width: 1.5rem;
        height: 1.5rem;
        align-self: flex-start;
        margin-top: -0.25rem;
        margin-left: 0.25rem;
        font-size: 1rem;
        line-height: 1.65rem;
    }
}

.logo {
    @extend %flex-center;
    flex-flow: column wrap;
    row-gap: 1rem;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: $space;
    user-select: none;
    img {
        width: 10rem;
    }
}

.message {
    text-align: center;
    font-size: 1.2rem;
    font-style: italic;
    line-height: 1.2;
    img {
        width: 8rem;
        margin: 4rem auto;
    }
}

.favorites-count {
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    background-color: $red;
    text-align: center;
    font-size: 0.85rem;
    line-height: 1.35rem;
}

.items-count {
    display: none;
    margin: 4rem 0;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid $white;
    text-align: right;
    letter-spacing: $space;
    &.active {
        display: block;
    }
    span {
        color: $yellow;
    }
}

#scroll-top-btn {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    transform: translateX(5rem);
    width: 2.5rem;
    height: 2.5rem;
    @extend %grid-center;
    border: none;
    border-radius: $radius;
    background-color: $transp-red;
    color: $white;
    font-size: 1.5rem;
    transition: $ease-trans;
    @include for-size(medium) {
        bottom: 1rem;
        right: 1rem;
        width: 2.2rem;
        height: 2.2rem;
        font-size: 1.2rem;
    }
    &.show {
        transform: translateX(0);
    }
    &:hover {
        background-color: $red-3;
    }
}