@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import 'config';
@import 'buttons';
@import 'characters';
@import 'comics';
@import 'hero';
@import 'forms';
@import 'pagination';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    background: linear-gradient($primary-clr 0%, $primary-clr-2 100%);
    color: $white;
    line-height: 1;
}

a {
    text-decoration: none;
}

label {
    display: block;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='number'] {
    -moz-appearance: textfield;
}

.section {
    max-width: 1200px;
    width: 90vw;
    margin: 4rem auto;
}

.title {
    @extend %flex-center;
    margin-bottom: 4rem;
    letter-spacing: $space;
    text-transform: capitalize;
    h2 {
        font-size: 2.5rem;
    }
    h3 {
        font-size: 2rem;
    }
    span {
        width: 1.5rem;
        height: 1.5rem;
        align-self: flex-start;
        margin-left: 0.25rem;
        border-radius: 50%;
        background-color: $red;
        color: $white;
        line-height: 1.6;
        text-align: center;
    }
}

.message {
    text-align: center;
    font-style: italic;
}

.page-header {
    height: 40vh;
    @extend %grid-center;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/slide-1.jpg') no-repeat center/cover;
}